# Database
DATABASE_HOST=raaya-db.c8joukkm64n5.us-east-1.rds.amazonaws.com
DATABASE_PORT=5432
DATABASE_NAME=raaya_db
DATABASE_USER=raaya_user
DATABASE_PASSWORD=your_password_here
# AWS Cognito
COGNITO_USER_POOL_ID=us-east-1_MqQaZdJDT
COGNITO_CLIENT_ID=2370bcb5pl0jau4bvk88bu1rt3
COGNITO_REGION=us-east-1

# AWS S3
S3_BUCKET_NAME=raaya-media-mvp
S3_REGION=us-east-1

# App
PORT=3000
NODE_ENV=development